{{ 'section-collection-grid.css' | asset_url | stylesheet_tag  }}


<div class="section__collection-grid page-width">
	<div class="section-title">
		<h2 class="section-title">Exclusive Collection</h2>
	</div>

	<div class="collection-grid">
		{% for block in section.blocks %}
			<div class="collection-box">
					<a href="{{ block.settings.collection.url }}">
						<div class="collection-img">
								<img src="{{ block.settings.collection.image | img_url:'large' }}" alt="">
						</div>
						<h3>{{ block.settings.collection.title }}</h3>
					</a>
			</div>
		{% endfor %}
	</div>

</div>


{% schema %}
{
	"name": "Collection Grid",
	"blocks": [
		{
			"type": "collection",
			"limit": 4,
			"name": "Collection",
			"settings": [
				{
					"type": "collection",
					"id": "collection",
					"label": "Collection"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Collection Grid"
		}
	]
}
{% endschema %}