{{ 'section-hero.css' | asset_url | stylesheet_tag }}

<div class="section__hero" style="background-image: url({{ section.settings.bg_img | img_url: 'master' }});">
	<div class="hero-innter page-width">
		<div class="hero-column">
			<div class="hero-content">
				<h2>Vintage & Thrift</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates minima ipsa soluta commodi possimus illo deleniti quos dolor eos.</p>
				<a href="#" class="hero-btn">Explore Now</a>
			</div>
		</div>
		<div class="hero-column"></div>
	</div>
</div>




{% schema %}
{
	"name": "Hero",
	"settings": [
		{
			"type": "image_picker",
			"id": "bg_img",
			"label": "BG Image"
		}
	],
	"presets": [
		{
			"name": "Hero"
		}
	]
}
{% endschema %}