.product-grid .grid__item {
  padding-bottom: 2rem;
}

.product-grid.negative-margin {
  margin-bottom: -2rem;
}

@media screen and (min-width: 750px) {
  .product-grid .grid__item {
    padding-bottom: calc(5rem + var(--page-width-margin));
  }

  .product-grid.negative-margin {
    margin-bottom: calc(-5rem - var(--page-width-margin));
  }

  .product-grid.negative-margin--small {
    margin-bottom: calc(-1rem - var(--page-width-margin));
  }
}

.product-list.bubble--sale {
    color: white;
    background-image: url(//cdn.shopify.com/s/files/1/0609/6525/7454/t/4/assets/bubble-sale.svg?v=3524348833462465639);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 5%;
    right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}