.section__hero{
	min-height: 70vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
}
.hero-innter{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 70vh;
}
.hero-column{
	display: flex;
	align-items: flex-end;
}
.hero-content {
    margin-bottom: 80px;
}
.hero-content p,
.hero-content h2{
	color:  #fff;
}
.hero-content p{
	font-family: var(--font-heading-family);
	margin-bottom: 30px;
}
.hero-content h2{
	font-size: 55px;
}
.hero-btn {
    background: radial-gradient(white, #919191);
    padding: 13px 40px;
    border-radius: 3px;
    color: #000;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.hero-btn:hover{
	background: radial-gradient(#b3b3b3, #fff);
	text-decoration: underline;
}