.section__collection-grid{

}

.section-title{
	font-family: var(--font-heading-family);
	font-size: 36px;
	font-weight: 900;
	line-height: 42px;
	text-align: center;
}

.collection-grid{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(4, 1fr);
	gap:  15px;
	width: 100%;
	margin: 0 auto;
}
.collection-box{
	width: 300px;
	height: 400px;
	box-sizing: border-box;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	border: 2px solid #000;
	border-radius: 4px;
	transition: .5s all;
}
.collection-box{
	display: block;
	text-decoration: none;
	cursor: pointer;
	text-align: center;

}
@media screen and (min-width:  768px){
	.collection-grid{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap:  40px;
		width: 668px;
	}
	.collection-box{
		width: 309px;
	}
}

.collection-box h3{color:  #000; text-decoration: none;}
.collection-box a{text-decoration: none; cursor: pointe; color:  #000;}
.collection-img{
	height: 330px;
	overflow: hidden;
}
.collection-img img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.collection-box h3{
	margin-top: 15px;
	margin-bottom: 15px;
}

.collection-box:hover{
	background: #231F20;
}
.collection-box:hover  a{color:  #fff;}
.collection-box:hover  h3{color:  #fff;}